name: build-rust

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build
        working-directory: ${{github.workspace}}/src/rust
        run: cargo build --release --all-features
      - name: Test
        working-directory: ${{github.workspace}}/src/rust
        run: cargo test --release --all-features
