name: build-csharp

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        configuration: ['Release','Debug']

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: src/csharp/global.json
      - name: Install dependencies
        working-directory: ${{github.workspace}}/src/csharp
        run: dotnet restore advent-code.sln
      - name: Build
        working-directory: ${{github.workspace}}/src/csharp
        run: dotnet build --configuration ${{ matrix.configuration }} --no-restore advent-code.sln
      - name: Test
        working-directory: ${{github.workspace}}/src/csharp
        if: ${{ matrix.configuration == 'Debug' }}
        run: dotnet test --no-build --no-restore --verbosity normal advent-code.sln
